<div class="card-body bb" *ngIf="claims['admin']">
    <div class="clearfix">
        <div class="float-left">
            Estado:
        </div>
        <div class="float-right" *ngIf="states?.length > 0">
            <button (click)="jobOrderStateModal.show()" class="btn btn-oval" [ngClass]="{'btn-success': currentState.name == 'En proceso activo', 'btn-warning': currentState.name == 'Pendiente', 'btn-danger': currentState.name == 'En proceso frenado', 'btn-inverse':currentState.name == 'Cancelado', 'btn-info':currentState.name == 'Terminado'}"
                type="button">{{currentState?.name}}</button>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="card-header">
        <div class="px-2 float-right badge badge-danger">{{dangerStates()}}</div>
        <div class="px-2 mr-2 float-right badge badge-warning">{{warningStates()}}</div>
        <div class="px-2 mr-2 float-right badge badge-success">{{successStates()}}</div>
        <div class="card-title">Historial de estados</div>
    </div>
    <!-- START list group-->
    <scrollable class="list-group" height="120">
        <div class="list-group-item list-group-item-action" *ngFor="let state of states | orderBy : 'id':true:false">
            <div class="media">
                <div class="media-body text-truncate">
                    <p class="mb-1">
                        <strong class="text-primary">
                            <span class="circle circle-lg text-left" [ngClass]="{'bg-success': state.name == 'En proceso activo', 'bg-warning': state.name == 'Pendiente', 'bg-danger': state.name == 'En proceso frenado', 'bg-inverse':state.name == 'Cancelado', 'bg-info':state.name == 'Terminado'}"></span>
                            <span>{{state.name}}</span>
                        </strong>
                    </p>
                </div>
                <div class="ml-auto" *ngIf="state.name != 'Entregado' && state.name != 'Cancelado'">
                    <small class="text-muted ml-2">{{state.hoursActive}}hs</small>
                </div>
            </div>
        </div>
    </scrollable>
</div>
<div class="modal fade" bsModal #jobOrderStateModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="jobOrderStateModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <legend>Cambiar estado</legend>
                <button aria-label="Close" class="close" type="button" data-dismiss="modal" (click)="jobOrderStateModal.hide()"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Estado</label>
                        <div class="col-lg-8">
                            <select class="custom-select custom-select-sm" [(ngModel)]="state" name="state_name" required>
                                <option disable >Seleccione estado</option>
                                <option *ngFor="let orderState of orderStates" [ngValue]="orderState" [hidden]="orderState.name == currentState.name">{{orderState.name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <small class="text-muted">* Dato obligatorio</small>
                        </div>
                    </div>
                </fieldset>
                <fieldset *ngIf="state.name == 'Entregado'">
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Numero de factura</label>
                        <div class="col-lg-8">
                            <input [(ngModel)]="jobOrder.bill_number" class="form-control" type="text" name="bill_number" />
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </fieldset>
                <fieldset *ngIf="state.name == 'Entregado'">
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Numero de Remito</label>
                        <div class="col-lg-8">
                            <input [(ngModel)]="jobOrder.remit_number" class="form-control" type="text" name="remit_number" />
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </fieldset>
                <fieldset *ngIf="state.name == 'Entregado'">
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Fecha de despacho</label>
                        <div class="col-lg-8">
                            <input [(ngModel)]="jobOrder.delivery_date" required class="form-control" type="date" name="delivery_date" />
                        </div>
                        <div class="col-lg-2">
                            <small class="text-muted">* Dato obligatorio</small>
                        </div>
                    </div>
                </fieldset>
                <fieldset *ngIf="state.name == 'Entregado'">
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Horas trabajadas</label>
                        <div class="col-lg-8">
                            <input [(ngModel)]="jobOrder.real_hours_production" class="form-control" type="number" name="real_hours_production" />
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </fieldset>
                <fieldset *ngIf="state.name == 'Entregado'">
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Observaciones</label>
                        <div class="col-lg-8">
                            <textarea [(ngModel)]="jobOrder.observations" class="form-control" type="number" name="observations"></textarea>
                        </div>
                        <div class="col-lg-2">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="text-right" *ngIf="state.name != null">
                        <button class="btn btn-info" type="button" (click)="changeState(jobOrderStateModal);">{{state.name == "Entregado" ? "Entregar OT":"Cambiar estado"}}</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>