<div class="col-lg-4">
    <!-- START card-->
    <div class="card border-0">
        <div class="row row-flush">
            <div class="col-3 bg-inverse text-center d-flex align-items-center justify-content-center rounded-left">
                <em class="fas fa-th-large fa-2x"></em>
            </div>
            <div class="col-8">
                <div class="card-body text-left">
                    <h4 class="mt-0">
                        <inline-editor *ngIf="requisition.requesting_sector != null" empty="Sin selección" type="select" [(ngModel)]="requisition.requesting_sector.name" (onSave)="saveRequestingSector($event)" name="purchase_sector_name" size="50" [options]="sectorsName" class="purchase-sector"></inline-editor>
                    </h4>
                    <p class="mb-0 text-muted">SECTOR SOLICITANTE</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END card-->
</div>
<div class="col-lg-4">
    <!-- START card-->
    <div class="card border-0">
        <div class="row row-flush">
            <div class="col-3 bg-green text-center d-flex align-items-center justify-content-center rounded-left">
                <em class="fas fa-th-large fa-2x"></em>
            </div>
            <div class="col-8">
                <div class="card-body text-left">
                    <h4 class="mt-0">
                        <inline-editor *ngIf="requisition.destination_sector != null" empty="Sin selección" type="select" [(ngModel)]="requisition.destination_sector.name" (onSave)="saveDesitinationSector($event)" name="purchase_sector_name" size="50" [options]="sectorsName"
                            class="purchase-sector"></inline-editor>
                    </h4>
                    <p class="mb-0 text-muted">SECTOR DESTINO</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END card-->
</div>
<div class="col-lg-4">
    <!-- START card-->
    <div class="card border-0">
        <div class="row row-flush">
            <div class="col-3 bg-danger text-center d-flex align-items-center justify-content-center rounded-left">
                <em class="fa fa-user fa-2x"></em>
            </div>
            <div class="col-8">
                <div class="card-body text-left">
                    <h4 class="mt-0">{{requisition.user?.display_name}}</h4>
                    <p class="mb-0 text-muted">USUARIO SOLICITANTE</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END card-->
</div>