label.upload-picture {
    width: 100%;
    margin-bottom: 0;
}

label.upload-picture>button {
    width: 100%;
    height: 300px;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
}

label.upload-picture>button>span {
    font-size: 45px;
    color: #a7a7a7;
}

label.upload-picture:hover {
    opacity: 0.7;
}

.picture-background {
    height: 100%;
    background-size: cover;
    background-position: top;
    min-height: 200px;
    margin-bottom: 0;
    max-height: 300px;
}

.picture-thumbnail {
    margin-bottom: 30px;
    max-height: 300px;
}

.md-card-offset {
    bottom: 15px;
    position: absolute;
    right: 30px;
}

.md-card-offset>button.btn-success {
    margin-right: 15px;
}

.md-card .md-card-item {
    height: 100%;
}

.saved-picture {
    height: 300px;
    cursor: pointer;
}

.modal-dialog {
    width: 50%;
    max-width: 1024px;
}

.kind-name {
    font-size: 20px;
    font-weight: 500;
    padding: 6px 15px;
    background-color: white;
    color: #929292;
    margin-top: -29px;
}

.component-job {
    .card {
        div.row {
            min-height: 200px;
        }
    }
    cursor: pointer;
}

@media (min-width: 768px) {
    .dropdown-menu {
        top: 4px;
        width: calc(100% - 30px);
    }
}

.form-inline .form-control {
    color: white;
    background-color: #2196F3;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 0;
    height: 15px;
    width: 300px;
}

.btn-primary.c-inline-editor,
.btn-danger.c-inline-editor {
    border: 0;
    margin: 0px 3px;
    font-size: 10px;
    padding: 4px 10px;
}

.fa-remove:before {
    content: "\f410";
}

.form-inline .form-group {
    width: 50%;
}

.md-card-body h3 .form-inline .form-control {
    color: rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    border: 0;
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding: 0;
    height: 20px;
    width: 300px;
}

.md-card-body h3 .form-inline .form-group {
    width: inherit;
    margin-right: 15px;
}

.md-card-body .form-inline .form-control {
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    padding: 0;
    height: 15px;
    width: 300px;
}

.md-card-body .form-inline .form-group {
    width: 100%;
}

.form-inline select.form-control {
    color: white;
    background-color: #2196F3;
    border: 0;
    font-family: "Roboto", sans-serif;
    font-size: 2.625rem;
    padding: 0;
    height: 45px;
    width: 300px;
    font-weight: bold;
}

.md-card-heading .form-inline .form-group {
    width: 100%;
}

.arrow-button {
    position: absolute;
    right: 17px;
    top: 15px;
}