<div class="col-lg-6">
    <!-- START card-->
    <div class="card border-0">
        <div class="row row-flush">
            <div class="col-3 bg-info text-center d-flex align-items-center justify-content-center rounded-left">
                <em class="fa fa-user-tie fa-2x"></em>
            </div>
            <div class="col-8">
                <div class="card-body text-left">
                    <h4 class="mt-0">
                        <inline-editor placeholder="Ingrese nombre de comprador" empty="  -   " type="text" [(ngModel)]="purchase.buyer" (onSave)="save($event)" name="purchase_buyer" size="250" class="purchase-editor"></inline-editor>
                    </h4>
                    <p class="mb-0 text-muted">COMPRADOR</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END card-->
</div>
<div class="col-lg-6">
    <!-- START card-->
    <div class="card border-0">
        <div class="row row-flush">
            <div class="col-3 bg-danger text-center d-flex align-items-center justify-content-center rounded-left">
                <em class="fa fa-user fa-2x"></em>
            </div>
            <div class="col-8">
                <div class="card-body text-left">
                    <h4 class="mt-0">{{purchase.user.display_name}}</h4>
                    <p class="mb-0 text-muted">USUARIO SOLICITANTE</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END card-->
</div>
<div class="col-lg-6">
    <!-- START card-->
    <div class="card border-0">
        <div class="row row-flush">
            <div class="col-3 bg-inverse text-center d-flex align-items-center justify-content-center rounded-left">
                <em class="fas fa-th-large fa-2x"></em>
            </div>
            <div class="col-8">
                <div class="card-body text-left">
                    <h4 class="mt-0">
                        <inline-editor *ngIf="purchase.sector != null" empty="Sin selección" type="select" [(ngModel)]="purchase.sector.name" (onSave)="saveSector($event)" name="purchase_sector_name" size="50" [options]="sectorsName" class="purchase-sector"></inline-editor>
                    </h4>
                    <p class="mb-0 text-muted">SECTOR DESTINO</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END card-->
</div>
<div class="col-lg-6">
    <!-- START card-->
    <div class="card border-0">
        <div class="row row-flush">
            <div class="col-3 bg-green text-center d-flex align-items-center justify-content-center rounded-left">
                <em class="fa fa-file-alt fa-2x"></em>
            </div>
            <div class="col-8">
                <div class="card-body text-left">
                    <h4 class="mt-0">
                        <inline-editor placeholder="Ingrese número de factura" empty="  -   " type="text" [(ngModel)]="purchase.bill_number" (onSave)="save($event)" name="purchase_buyer" size="250" class="purchase-editor"></inline-editor>
                    </h4>
                    <p class="mb-0 text-muted">FACTURA</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END card-->
</div>