<div class="content-heading">Nueva orden de trabajo</div>
<!-- START row-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-default">
                <div class="card-body">
                    <form (ngSubmit)="save()" #data="ngForm" class="form-validate form-horizontal">
                        <!-- START card-->

                        <fieldset class="b0">
                            <legend>Datos de requisición</legend>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Descripción</label>
                                <div class="col-lg-8">
                                    <div class="card">
                                        <div class="card-body mh0">
                                            <textarea [(ngModel)]="requisition.description" class="form-control note-editor" type="text" name="description" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <small class="text-muted">* Dato obligatorio</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Unidad de medida</label>
                                <div class="col-lg-8">
                                    <input [(ngModel)]="requisition.unit_of_measurement" class="form-control" type="text" name="unit_of_measurement" />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Cantidad</label>
                                <div class="col-lg-8">
                                    <input [(ngModel)]="requisition.amount" class="form-control" type="number" name="amount" />
                                </div>
                                <div class="col-lg-2">
                                    <small class="text-muted">* Dato obligatorio</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Motivo</label>
                                <div class="col-lg-8">
                                    <input [(ngModel)]="requisition.reason" class="form-control" type="text" name="reason" />
                                </div>
                                <div class="col-lg-2">
                                    <small class="text-muted">* Dato obligatorio</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Solicitado para la fecha</label>
                                <div class="col-lg-8">
                                    <input [(ngModel)]="requisition.requesting_date" type="date" class="form-control" name="requesting_date" required>
                                </div>
                                <div class="col-lg-2">
                                    <small class="text-muted">* Dato obligatorio</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Prioridad</label>
                                <div class="col-lg-8">
                                    <select class="custom-select custom-select-sm" [(ngModel)]="requisition.priority" name="requisition_priority" required>
                                        <option [ngValue]="1" [attr.selected]="(requisition.priority != null && 1 == requisition.priority) ? true : null">Baja</option>
                                        <option [ngValue]="2" [attr.selected]="(requisition.priority != null && 2 == requisition.priority) ? true : null">Media</option>
                                        <option [ngValue]="3" [attr.selected]="(requisition.priority != null && 3 == requisition.priority) ? true : null">Alta</option>
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <small class="text-muted">* Dato obligatorio</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Sector solicitante</label>
                                <div class="col-lg-8">
                                    <select class="custom-select custom-select-sm" [(ngModel)]="requisition.requesting_sector" name="requesting_sector" required>
                                        <option disable [attr.selected]="requisition.requesting_sector == null ? true : null" >Seleccione sector</option>
                                        <option *ngFor="let sector of sectors" [ngValue]="sector" [attr.selected]="(requisition.requesting_sector != null && sector.id == requisition.requesting_sector.id) ? true : null">{{sector.name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <small class="text-muted">* Dato obligatorio</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label text-lg-right">Sector destinatario</label>
                                <div class="col-lg-8">
                                    <select class="custom-select custom-select-sm" [(ngModel)]="requisition.destination_sector" name="destination_sector" required>
                                            <option disable [attr.selected]="requisition.destination_sector == null ? true : null" >Seleccione sector</option>
                                            <option *ngFor="let sector of sectors" [ngValue]="sector" [attr.selected]="(requisition.destination_sector != null && sector.id == requisition.destination_sector.id) ? true : null">{{sector.name}}</option>
                                        </select>
                                </div>
                                <div class="col-lg-2">
                                    <small class="text-muted">* Dato obligatorio</small>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <button class="btn btn-info" type="submit">Guardar</button>
                        </fieldset>
                        <!-- END card-->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END row-->
</div>