<div class="content-heading">
    <div>
        Requisición #{{requisition.id}}
        <small class="pt-2">{{ requisition.created | date:'dd/MM/yyyy'}}</small>
    </div>
</div>
<app-header-requisition class="row" [requisition]="requisition"></app-header-requisition>
<div class="row">
    <div class="col-xl-12">
        <!-- Main card-->
        <div class="card b p-3">
            <legend>Datos de la requisición</legend>
            <div class="row">
                <div class="col-12" style="margin-bottom: 40px">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Descripción</label>
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-body mh0">
                                        <textarea [(ngModel)]="requisition.description" class="form-control note-editor" type="text" name="description" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <small class="text-muted">* Dato obligatorio</small>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Unidad de medida</label>
                            <div class="col-lg-8">
                                <input [(ngModel)]="requisition.unit_of_measurement" class="form-control" type="text" name="unit_of_measurement" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Cantidad</label>
                            <div class="col-lg-8">
                                <input [(ngModel)]="requisition.amount" class="form-control" type="number" name="amount" />
                            </div>
                            <div class="col-lg-2">
                                <small class="text-muted">* Dato obligatorio</small>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Motivo</label>
                            <div class="col-lg-8">
                                <input [(ngModel)]="requisition.reason" class="form-control" type="text" name="reason" />
                            </div>
                            <div class="col-lg-2">
                                <small class="text-muted">* Dato obligatorio</small>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Solicitado para la fecha</label>
                            <div class="col-lg-8">
                                <input [(ngModel)]="requisition.requesting_date" type="date" class="form-control" name="requesting_date" required>
                            </div>
                            <div class="col-lg-2">
                                <small class="text-muted">* Dato obligatorio</small>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-lg-right">Prioridad</label>
                            <div class="col-lg-8">
                                <select class="custom-select custom-select-sm" [(ngModel)]="requisition.priority" name="requisition_priority" required>
                                    <option [ngValue]="1" [attr.selected]="(requisition.priority != null && 1 == requisition.priority) ? true : null">Baja</option>
                                    <option [ngValue]="2" [attr.selected]="(requisition.priority != null && 2 == requisition.priority) ? true : null">Media</option>
                                    <option [ngValue]="3" [attr.selected]="(requisition.priority != null && 3 == requisition.priority) ? true : null">Alta</option>
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <small class="text-muted">* Dato obligatorio</small>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <button class="btn btn-info float-right" type="submit" (click)="save()">Guardar</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>