<form (ngSubmit)="save()" #data="ngForm" class="form-validate form-horizontal">
    <!-- START card-->

    <input [ngModel]="jobOrder.id" name="id" type="hidden" id="id" />
    <fieldset class="b0">
        <legend>Datos de orden</legend>
    </fieldset>
    <fieldset>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label text-lg-right">Número de orden</label>
            <div class="col-lg-8">
                <input [(ngModel)]="jobOrder.purchase_order_number" class="form-control" type="text" name="purchase_order_number" />
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label text-lg-right">Trabajo</label>
            <div class="col-lg-8">
                <app-link-job *ngIf="jobOrder.job.id == null" [job]="jobOrder.job" (selectedJob)="jobOrder.job = $event"></app-link-job>
                <app-card-job *ngIf="jobOrder.job.id != null" [job]="jobOrder.job"></app-card-job>
                <div class="col-12 text-right">
                    <button class="btn btn-warning float-right mt-3" type="button" (click)="cleanJob()" *ngIf="jobOrder.job.number != null">Borrar</button>
                </div>
            </div>
            <div class="col-lg-2">
                <small class="text-muted">* Dato obligatorio</small>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label text-lg-right">Especificación técnica</label>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body mh0">
                        <textarea [(ngModel)]="jobOrder.description" class="form-control note-editor" type="text" name="description" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label text-lg-right">Fecha de entrada</label>
            <div class="col-lg-8">
                <input [(ngModel)]="jobOrder.in_date" type="date" class="form-control" name="in_date" required>
            </div>
            <div class="col-lg-2">
                <small class="text-muted">* Dato obligatorio</small>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label text-lg-right">Fecha de compromiso con el cliente</label>
            <div class="col-lg-8">
                <input [(ngModel)]="jobOrder.compromised_date" type="date" class="form-control" name="compromised_date">
            </div>
            <div class="col-lg-2">
                <small class="text-muted">* Dato obligatorio</small>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label text-lg-right">Cantidad a producir</label>
            <div class="col-lg-8">
                <input [(ngModel)]="jobOrder.jobs_amount" required class="form-control" type="number" name="jobs_amount" required/>
            </div>
            <div class="col-lg-2">
                <small class="text-muted">* Dato obligatorio</small>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label text-lg-right">Horas cotizadas</label>
            <div class="col-lg-8">
                <input [(ngModel)]="jobOrder.budgeted_hours" class="form-control" type="number" name="budgeted_hours" />
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label text-lg-right">Porcentaje de avance</label>
            <div class="col-lg-8">
                <input [(ngModel)]="jobOrder.percentage_advance" required class="form-control" type="number" name="percentage_advance" />
            </div>
            <div class="col-lg-2">
                <small class="text-muted">* Dato obligatorio</small>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label text-lg-right">Estado</label>
            <div class="col-lg-8">
                <select class="custom-select custom-select-sm" [(ngModel)]="jobOrder.states[state_index]" name="state_name" required>
                    <option disable [attr.selected]="jobOrder.states.length == 0 ? true : null" >Seleccione estado</option>
                    <option *ngFor="let orderState of orderStates" [ngValue]="orderState" [attr.selected]="(jobOrder.states.length != 0 && orderState.name == jobOrder.states[jobOrder.states.length - 1].name) ? true : null">{{orderState.name}}</option>
                </select>
            </div>
            <div class="col-lg-2">
                <small class="text-muted">* Dato obligatorio</small>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label text-lg-right">Tipo</label>
            <div class="col-lg-8">
                <select class="custom-select custom-select-sm" [(ngModel)]="jobOrder.kind" name="kind" required>
                        <option disable [attr.selected]="jobOrder.kind == null ? true : null" >Seleccione tipo</option>
                        <option *ngFor="let kind of kinds" [ngValue]="kind" [attr.selected]="(jobOrder.kind != null && kind.id == jobOrder.kind.id) ? true : null">{{kind.name}}</option>
                    </select>
            </div>
            <div class="col-lg-2">
                <small class="text-muted">* Dato obligatorio</small>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label text-lg-right">Observaciones</label>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body mh0">
                        <textarea [(ngModel)]="jobOrder.observations" class="form-control note-editor" type="text" name="observations" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <button class="btn btn-info" type="submit">Guardar</button>
    </fieldset>
    <!-- END card-->
</form>