files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_img_tmp_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo mkdir /var/app/current/pictures
      sudo chmod 777 -R /var/app/current/pictures
      sudo mkdir /var/app/current/documents
      sudo chmod 777 -R /var/app/current/documents
      sudo echo "client_max_body_size 20M;" > /etc/nginx/conf.d/elasticbeanstalk/proxy.conf
      sudo service nginx restart