<div class="content-heading">
    <div>
        Order de Trabajo #{{jobOrder.id}}
    </div>
</div>
<div class="row">
    <div class="col-xl-8">
        <!-- Main card-->
        <div class="card b">
            <app-header-job-order [jobOrder]="jobOrder"></app-header-job-order>
        </div>
        <div class="card b p-3">
            <app-documents-job-order [jobOrder]="jobOrder"></app-documents-job-order>
        </div>
        <div class="card b p-3">
            <app-detail-jobs *ngIf="jobOrder.job != null" [id]="jobOrder.job.id"></app-detail-jobs>
        </div>
    </div>
    <div class="col-xl-4">
        <!-- Aside card-->
        <div class="card b">
            <app-states-job-order [states]="jobOrder.states" [jobOrderId]="jobOrder.id" [currentState]="currentState" (jobOrderStates)="states = $event" (jobOrderOutput)="updatejobOrder($event)"></app-states-job-order>
        </div>
        <div class="card b">
            <div class="card-body bb">
                <div class="card-body">
                    <button *ngIf="claims['admin']" class="mb-1 mr-1 btn btn-info float-right" type="button" (click)="job_order_percentage_advance_edit = !job_order_percentage_advance_edit">Editar</button>
                    <div class="text-info">Porcentaje de avance</div>
                    <div class="text-center py-4">
                        <div class="easypie-chart easypie-chart-lg" easypiechart [options]="pieOptions" [percent]="jobOrder.percentage_advance">
                            <span>{{jobOrder.percentage_advance}}%</span>
                        </div>
                    </div>
                    <fieldset [hidden]="!job_order_percentage_advance_edit" *ngIf="claims['admin']">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <input class="form-control" type="number" [(ngModel)]="jobOrder.percentage_advance" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" (click)="save();job_order_percentage_advance_edit = !job_order_percentage_advance_edit">
                                            <em class="fa-x mr-2 far fa-edit"></em>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td style="width: 260px;">
                            <strong>Fecha de entrada</strong>
                        </td>
                        <td>
                            <inline-editor *ngIf="claims['admin']" type="date" [(ngModel)]="jobOrder.in_date" (onSave)="save()" name="job_in_date" size="50" class="job-in-date"></inline-editor>
                            {{!claims['admin'] ? jobOrder.in_date : ''}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 260px;">
                            <strong>Fecha de compromiso con el cliente</strong>
                        </td>
                        <td>
                            <inline-editor *ngIf="claims['admin']" type="date" [(ngModel)]="jobOrder.compromised_date" (onSave)="save()" name="job_compromised_date" size="50" class="job-compromised-date"></inline-editor>
                            {{!claims['admin'] ? jobOrder.compromised_date : ''}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 260px;">
                            <strong>Horas cotizadas</strong>
                        </td>
                        <td>
                            <inline-editor *ngIf="claims['admin']" type="number" [(ngModel)]="jobOrder.budgeted_hours" (onSave)="save()" name="job_budgeted_hours" size="50" class="job-budgeted-hours"></inline-editor>
                            {{!claims['admin'] ? jobOrder.budgeted_hours : ''}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 260px;">
                            <strong>Cantidad a producir</strong>
                        </td>
                        <td>
                            <inline-editor *ngIf="claims['admin']" type="number" [(ngModel)]="jobOrder.jobs_amount" (onSave)="save()" name="job_jobs_amount" size="50" class="job-jobs-amount"></inline-editor>
                            {{!claims['admin'] ? jobOrder.jobs_amount : ''}}
                        </td>
                    </tr>
                    <tr *ngIf="states[0]?.name == 'Entregado'">
                        <td style="width: 260px;">
                            <strong>Fecha de despacho</strong>
                        </td>
                        <td>
                            <inline-editor empty="-" *ngIf="claims['admin']" type="date" [(ngModel)]="jobOrder.delivery_date" (onSave)="save()" name="job_delivery_date" size="50" class="job-delivery-date"></inline-editor>
                            {{!claims['admin'] ? jobOrder.delivery_date : ''}}
                        </td>
                    </tr>
                    <tr *ngIf="states[0]?.name == 'Entregado'">
                        <td style="width: 260px;">
                            <strong>Horas reales de producción</strong>
                        </td>
                        <td>
                            <inline-editor empty="-" *ngIf="claims['admin']" type="number" [(ngModel)]="jobOrder.real_hours_production" (onSave)="save()" name="job_real_hours_production" size="50" class="job-real-hours-production"></inline-editor>
                            {{!claims['admin'] ? jobOrder.real_hours_production : ''}}
                        </td>
                    </tr>
                    <tr *ngIf="states[0]?.name == 'Entregado'">
                        <td style="width: 260px;">
                            <strong>Número de factura</strong>
                        </td>
                        <td>
                            <inline-editor empty="-" *ngIf="claims['admin']" type="text" [(ngModel)]="jobOrder.bill_number" (onSave)="save()" name="job_bill_number" size="50" class="job-bill-number"></inline-editor>
                            {{!claims['admin'] ? jobOrder.bill_number : ''}}
                        </td>
                    </tr>
                    <tr *ngIf="states[0]?.name == 'Entregado'">
                        <td style="width: 260px;">
                            <strong>Número de remito</strong>
                        </td>
                        <td>
                            <inline-editor empty="-" *ngIf="claims['admin']" type="text" [(ngModel)]="jobOrder.remit_number" (onSave)="save()" name="job_remit_number" size="50" class="job-remit-number"></inline-editor>
                            {{!claims['admin'] ? jobOrder.remit_number : ''}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-work-record-box *ngIf="jobOrder.id && (claims['admin'] || claims['technique'])" [jobOrder]="jobOrder"></app-work-record-box>
        <!-- end Aside card-->
    </div>
</div>
