<div class="form-group row mb-3">
    <fieldset class="b0 ml-3">
        <legend>Datos del trabajo</legend>
    </fieldset>
    <div class="col-12">
        <input autocomplete="off" [(ngModel)]="job.searchField" [typeahead]="jobs" [typeaheadItemTemplate]="jobSelected" [typeaheadOptionField]="'searchField'" (typeaheadOnSelect)="typeaheadOnSelect($event)" class="form-control" name="job">
        <ng-template #jobSelected let-model="item" let-index="index" class="col-12">
            <div class="row row-flush">
                <div *ngIf="model.pictures?.length > 0" class="col-4 d-flex align-items-center justify-content-center" style="margin-left: -17px;" [ngStyle]="{'backgroundImage': 'url(' + model.pictures[0].thumbnail + ')','backgroundSize': 'cover', 'backgroundPosition': 'center'}"></div>
                <div [ngClass]="{'col-12': model.pictures?.length == 0, 'col-8': model.pictures?.length > 0}">
                    <div [ngClass]="{'p-3': model.pictures?.length == 0, 'pl-3 pt-3 pb-3 pr-0': model.pictures?.length > 0}">
                        <div class="float-right btn-primary btn-sm">{{ model.kind.name }}</div>
                        <p>{{ model.number }}</p>
                        <p><strong>{{ model.item }}</strong>
                        </p>
                        <p>{{ model.description }}</p>
                    </div>
                </div>
            </div>
            <hr class="m-0">
        </ng-template>
    </div>
</div>