<div class="container">
    <div class="row align-items-start mt-5">
        <div class="col-lg-6 col-sm-10 offset-lg-3 offset-sm-1 mt-5">
            <div class="col-12 mb-5 mt-5 text-center">
                <img src="../../../../../assets/img/indumet-logo.png" alt="" class="mt-3 mb-5" style="width: 300px;">
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-10 offset-1 text-center">
                            <h4 class="mb-3 mt-3">Inicie sesión con su cuenta de Google</h4>
                            <img src="../../../../../assets/img/google-signin.png" alt="" srcset="" (click)="googleLogin()" style="cursor: pointer;width: 100%;max-width: 350px;" class="mt-3 mb-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
