<legend>Documentos de OT</legend>
<div class="row">
    <div class="col-12" *ngIf="claims['admin']">
        <label for="plane" class="file-upload float-right">
            <button class="btn btn-secondary btn-block">Subir documento</button>
            <input #inputUploader id="plane_upload_button" type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="onSelected($event)"/>
        </label>
    </div>
    <div class="col-12" style="margin-bottom: 40px">
        <div class="card">
            <div class="card-body">
                <p class="float-right badge badge-info" *ngIf="job.documents?.length">Cantidad: {{ job.documents?.length }}</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">Descripción</th>
                            <th>Tipo</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let document of job.documents">
                            <td>
                                <div *ngIf="document.id == null" class="form-group row">
                                    <input [(ngModel)]="document.description" required class="form-control" type="text" name="plane_description[]" />
                                </div>
                                <strong *ngIf="document.id != null">{{ document.description }}</strong>
                            </td>
                            <td>
                                <select *ngIf="document.id == null" class="custom-select custom-select-sm" [(ngModel)]="document.kind" name="plane_kind[]" required>
                                    <option *ngFor="let kind of kindDocuments" [ngValue]="kind" [attr.selected]="kind.id == document.kind?.id ? true : null">{{kind.name}}</option>
                                </select>
                                <strong *ngIf="document.id != null">{{ document.kind?.name }}</strong>
                            </td>
                            <td class="text-center">
                                <button *ngIf="document.id == null && claims['admin']" type="button" class="btn btn-info btn-xs m-1" (click)="save(document)" [disabled]="document.description.length == 0 || document.kind == null">
                                    <span class="fa icon-cloud-upload mr"></span> Guardar
                                </button>
                                <a *ngIf="document.id != null" class="btn btn-info btn-xs m-1" href="{{ document.source }}" target="_blank">
                                    <span class="fas fa-external-link-alt mr"></span>
                                </a>
                                <button *ngIf="claims['admin']" type="button" class="btn btn-danger btn-xs m-1" (click)="delete(document)">
                                    <span class="icon-trash mr"></span> 
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>