<div class="content-heading">Listado de condiciones de compra</div>
<div class="row">
    <div class="col-12">
        <button (click)="addPurchaseCondition()" class="mb-1 mr-1 btn btn-success float-right" type="button">Nueva condición de compra</button>
    </div>
    <div class="col-12 mt-3">
        <div class="card card-default">
            <!-- START table-responsive-->
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th class="actions-column-3">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let purchaseCondition of purchaseConditions">
                            <td>{{ purchaseCondition.id }}</td>
                            <td>{{ purchaseCondition.name }}</td>
                            <td>
                                <button class="mb-1 mr-1 btn btn-primary" type="button" (click)=editPurchaseCondition(purchaseCondition.id)><i class="fas fa fa-edit"></i></button>
                                <button class="mb-1 mr-1 btn btn-danger" type="button" (click)=deletePurchaseCondition(purchaseCondition.id)><i class="fas fa fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END table-responsive-->
        </div>
    </div>
</div>
