<legend>Planos</legend>
<div class="row">
    <div class="col-12" *ngIf="claims['admin']">
        <label for="plane" class="file-upload float-right">
				<button class="btn btn-secondary btn-block">Subir plano</button>
				<input #inputUploader id="plane_upload_button" type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="onSelected($event)"/>
			</label>
    </div>
    <div class="col-12" style="margin-bottom: 40px">
        <div class="card">
            <div class="card-body">
                <p class="float-right badge badge-info" *ngIf="job.planes?.length">Cantidad: {{ job.planes?.length }}</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">Descripción</th>
                            <th>Tipo</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let plane of job.planes">
                            <td>
                                <div *ngIf="plane.id == null" class="form-group row">
                                    <input [(ngModel)]="plane.description" required class="form-control" type="text" name="plane_description[]" />
                                </div>
                                <strong *ngIf="plane.id != null">{{ plane.description }}</strong>
                            </td>
                            <td>
                                <select *ngIf="plane.id == null" class="custom-select custom-select-sm" [(ngModel)]="plane.kind" name="plane_kind[]" required>
											<option *ngFor="let kind of kindPlanes" [ngValue]="kind" [attr.selected]="kind.id == plane.kind?.id ? true : null">{{kind.name}}</option>
										</select>
                                <strong *ngIf="plane.id != null">{{ plane.kind?.name }}</strong>
                            </td>
                            <td class="text-center">
                                <button *ngIf="plane.id == null && claims['admin']" type="button" class="btn btn-info btn-xs m-1" (click)="save(plane)" [disabled]="plane.description.length == 0 || plane.kind == null">
                                    <span class="fa icon-cloud-upload mr"></span> Guardar
								</button>
                                <a *ngIf="plane.id != null" class="btn btn-info btn-xs m-1" href="{{ plane.source }}" target="_blank">
                                    <span class="fas fa-external-link-alt mr"></span>
                                </a>
                                <button *ngIf="claims['admin']" type="button" class="btn btn-danger btn-xs m-1" (click)="delete(plane)">
                                    <span class="icon-trash mr"></span> 
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>