<div class="card-body bb">
    <div class="clearfix">
        <div class="float-left">
            Estado:
        </div>
        <div class="float-right" *ngIf="states?.length > 0">
            <button (click)="purchaseStateModal.show()" class="btn btn-oval btn-primary" type="button">Cambiar estado</button>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="card-header">
        <div class="card-title">Historial de estados</div>
    </div>
    <!-- START list group-->
    <scrollable class="list-group" height="350">
        <div class="list-group-item list-group-item-action" *ngFor="let state of states | orderBy : 'id':true:false">
            <div class="media">
                <div class="media-body text-truncate">
                    <p class="mb-1">
                        <strong class="text-primary">
                            <span class="circle circle-lg text-left bg-primary"></span>
                            <span>{{state.name}}</span>
                        </strong>
                    </p>
                </div>
                <div class="ml-auto" *ngIf="state.name != 'Entregado' && state.name != 'Cancelado'">
                    <small class="text-muted ml-2">{{state.hoursActive}}hs</small>
                </div>
            </div>
        </div>
    </scrollable>
</div>
<div class="modal fade" bsModal #purchaseStateModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="purchaseStateModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <legend>Cambiar estado</legend>
                <button aria-label="Close" class="close" type="button" data-dismiss="modal" (click)="purchaseStateModal.hide()"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label text-lg-right">Estado</label>
                        <div class="col-lg-8">
                            <select class="custom-select custom-select-sm" [(ngModel)]="state" name="state_name" required>
                                <option disable >Seleccione estado</option>
                                <option *ngFor="let purchaseState of purchaseStates" [ngValue]="purchaseState">{{purchaseState.name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <small class="text-muted">* Dato obligatorio</small>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="text-right" *ngIf="state.name != null">
                        <button class="btn btn-info" type="button" (click)="changeState(purchaseStateModal);">Cambiar estado</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>