/* You can add global styles to this file, and also import other style files */

//== Vendor
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~simple-line-icons/css/simple-line-icons.css';
@import '~weather-icons/css/weather-icons.css';
@import '~weather-icons/css/weather-icons-wind.css';
@import '~spinkit/css/spinkit.css';
@import '~loaders.css/loaders.css';
@import '~angular2-toaster/toaster.css';
@import '~ng2-dnd/bundles/style.css';
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-fresh.css';
@import '~ika.jvectormap/jquery-jvectormap-1.2.2.css';
@import '~jqcloud2/dist/jqcloud.css';
@import '~summernote/dist/summernote.css';
@import '~fullcalendar/dist/fullcalendar.min.css';
@import '~codemirror/lib/codemirror.css';
//== Bootstrap
@import "./app/components/shared/styles/bootstrap.scss";
//== Application
@import "./app/components/shared/styles/app.scss";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.actions-column-standard {
    width: 140px;
    text-align: center;
}

.id-column-standard {
    width: 100px;
}

.action-button {
    width: 50%;
    margin-left: 25%;
}

.actions-column-switch {
    width: 70px;
    text-align: center;
}

.actions-column-3 {
    width: 180px;
    text-align: center;
}

.actions-column-1 {
    width: 55px;
    text-align: center;
}

.actions-column-2 {
    width: 120px;
    text-align: center;
}

.full-width {
    width: 100%;
}

.ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
}